.slider-container-navbar
    margin: (5%/2) auto
    .slider-main
.dot-alv
    background: #fff;
    border: none;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    z-index: 100
    bottom: 0
    float: right
    margin-right: 
.dots-container
    position: absolute
    width: 70vw
    margin-top: -3%
    